<div>
  <div>
    <h1>
      List of your bids
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Job seeker
        </th>

        <th>
          Job
        </th>

        <th>
          Points bid
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bids.each do |a_bid| %>
      <tr>

        <td>
          <%= a_bid.seeker.first_name + " " +  a_bid.seeker.last_name %>
        </td>

        <td>
          <%= a_bid.job_id %>
        </td>

        <td>
          <%= a_bid.points_bid %>
        </td>

        <td>
          <%= time_ago_in_words(a_bid.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bid.updated_at) %> ago
        </td>

        <td>
          <a href="/bids/<%= a_bid.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
