<div>
  <div>
    <h1>
      List of <%= @current_seeker.first_name.capitalize + " " + @current_seeker.last_name.capitalize %>'s bids
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table" border="1">
      <tr>

        <th>
          Job
        </th>

        <th>
          Points bid
        </th>

        <th>
          Company
        </th>

        <th>
          Logo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @current_seeker.bids.each do |a_bid| %>
      <tr>

        <td>
          <%= a_bid.job.title  %>
        </td>

        <td>
          <%= a_bid.points_bid %>
        </td>

        <td>
          <%= a_bid.job.company.name.capitalize %>
        </td>

        <td>
          <img src= "<%= a_bid.job.company.logo %>" style="width:200px;height:150px;">
        </td>

        <td>
          <%= time_ago_in_words(a_bid.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bid.updated_at) %> ago
        </td>

        <td>
          <a href="/jobs/<%= a_bid.job.id %>">
            Show job details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
