<div>
  <div>
    <h1>
      Job #<%= @the_job.id %> details: <%= @the_job.title.capitalize + " at " + @the_job.company.name%>
    </h1>

    <div>
      <% target_bid = Bid.all.where({:job_id => @the_job.id}).where({:seeker_id => @current_seeker.id}).first %>
      
      <% if target_bid == nil %>
        <div>
          <form action="/insert_bid" method="post">
            <label for="bid_set_box"> </label>
            <input id="bid_set_box" name="query_bid_set">
            <input name="query_job_id" type="hidden" value="<%= @the_job.id %>">
            <button>
              Bid!
            </button>
          </form>
        </div>

      <% else %>
        <div>
          <form action="/modify_bid/<%= target_bid.id %>" method="post">
            <label for="bid_set_box"> </label>
            <input id="bid_set_box" name="query_bid_new" value="<%= target_bid.points_bid%>">
            <input name="query_job_id" type="hidden" value="<%= @the_job.id %>">
            <button>
              Change Bid!
            </button>
          </form>
        </div>

      <% end %>

      <div>
        <a href="/jobs">
          Go back
        </a>
      </div>

      <% if @current_company != nil %>
        <% if @current_company.id == @the_job.company.id%>
          <div>
            <a href="/delete_job/<%= @the_job.id %>">
              Delete job
            </a>
          </div>
        <% end %>
      <% end %>
    
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_job.title %>
      </dd>

      <dt>
        Industry
      </dt>
      <dd>
        <%= @the_job.industry %>
      </dd>

      <dt>
        Yearly usd salary
      </dt>
      <dd>
        <%= @the_job.yearly_usd_salary %>
      </dd>

      <dt>
        Job description
      </dt>
      <dd>
        <%= @the_job.job_description %>
      </dd>

      <dt>
        Years of exp
      </dt>
      <dd>
        <%= @the_job.years_of_exp %>
      </dd>

      <dt>
        Company
      </dt>
      <dd>
        <%= @the_job.company.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_job.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_job.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<% if target_bid != nil %>
  <div>
    <form action="/delete_bid">
      <input name="query_bid_id" type="hidden" value="<%= target_bid.id %>">
      <button>
        Cancel Bid!
      </button>
    </form>
  </div>

<% end %>

<hr>
<% if @current_company != nil %>
  <% if @current_company.id == @the_job.company.id%>
    <div>
      <div>
        <h2>
          Edit job
        </h2>

        <form action="/modify_job/<%= @the_job.id %>"  method="post" >
          <div>
            <label for="title_box">
              Title
            </label>

            <input type="text" id="title_box" name="query_title" value="<%= @the_job.title %>">
          </div>

          <div>
            <label for="industry_box">
              Industry
            </label>

            <input type="text" id="industry_box" name="query_industry" value="<%= @the_job.industry %>">
          </div>

          <div>
            <label for="yearly_usd_salary_box">
              Yearly usd salary
            </label>

            <input type="text" id="yearly_usd_salary_box" name="query_yearly_usd_salary" value="<%= @the_job.yearly_usd_salary %>">
          </div>

          <div>
            <label for="job_description_box">
              Job description
            </label>

            <textarea id="job_description_box" name="query_job_description"><%= @the_job.job_description %></textarea>
          </div>

          <div>
            <label for="years_of_exp_box">
              Years of exp
            </label>

            <input type="text" id="years_of_exp_box" name="query_years_of_exp" value="<%= @the_job.years_of_exp %>">
          </div>

          <button>
            Update job
          </button>
        </form>
      </div>
    </div>
  <% end %>
<% end %>

