<div>
  <div>
    <h1>
      List of all bid wins for <%= @current_seeker.first_name.capitalize + " " + @current_seeker.last_name.capitalize + "!"%>
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Title
        </th>

        <th>
          Company
        </th>

        <th>
          Industry
        </th>

        <th>
          Description
        </th>

        <th>
          Salary
        </th>

      </tr>

      <% @current_seeker.winners.each do |a_winner| %>
      <tr>
        <td>
          <%= a_winner.job.title %>
        </td>

        <td>
          <%= a_winner.job.company.name %>
        </td>

        <td>
          <%= a_winner.job.industry %>
        </td>

        <td>
          <%= a_winner.job.job_description %>
        </td>
        <td>
          <%= number_with_delimiter(a_winner.job.yearly_usd_salary, :delimiter => ',') %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
