<!DOCTYPE html>
<html>
<head>
  <title>
    FinalProject
  </title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">

  <!-- Make it responsive to small screens. Include only if you're using responsive CSS. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Helper methods that create <link>s and <script>s for all of the stylesheets and javascript files in the non-`/public/` assets folders. -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%# javascript_pack_tag  'application' %>

  <!-- Rendering a partial that has all the <link>s and <script>s for assets we are pulling from content-delivery networks. -->
  <%= render "shared/cdn_assets" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style>
    body { padding-bottom: 70px }
  </style>
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "shared/flashes" %>
      <nav>
      
      <% if @current_seeker != nil %>
        <p> Bid points remaining: <%= @current_seeker.bid_points %> </p>
      <% end %>

      <% if @current_company != nil %>
        <% company_jobs = 0 %>
        <% @current_company.jobs.each do |a_job| %>
          <% company_jobs = company_jobs + 1 %>
        <% end %>
        <p> Jobs posted: <%= company_jobs %> </p>
      <% end %>
      
      <ul>

        <% if @current_company == nil %>

          <% if @current_seeker == nil %>
            <li>
              <a href="/seeker_sign_in">
                Job Seeker Sign in
              </a>
            </li>

            <li>
              <a href="/seeker_sign_up">
                Job Seeker Sign up
              </a>
            </li>
          
          <% else %>
          
            <li>
              <a href="/seeker_sign_out">
              <%= @current_seeker.first_name.capitalize + " " + @current_seeker.last_name.capitalize %> Sign out
              </a>
            </li>

            <li>
              <a href="/jobs">
                My jobs
              </a>
            </li>

            <li>
              <a href="/bids">
                My bids
              </a>
            </li>

          <% end %>

        <% end %>
        
        <% if @current_seeker == nil %>

          <% if @current_company == nil %>
            <li>
              <a href="/company_sign_in">
                Company Sign in
              </a>
            </li>

            <li>
              <a href="/company_sign_up">
                Company Sign up
              </a>
            </li>
        
          <% else %>

            <li>
              <a href="/company_sign_out">
                <%= @current_company.name %> Sign out
              </a>
            </li>

            <li>
              <a href="/jobs">
                My jobs
              </a>
            </li>

          <% end %>
        <% end %>


        <li>
          <a href="/">
            Home
          </a>
        </li>

      </ul>
    </nav>

    <p style=" color: green"> <%= notice %> </p>
    <p style=" color: red"> <%= alert %> </p>

    <%= yield %>
  </div>

</body>
</html>
