<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

    <nav>
      <ul>
        <% if @current_seeker == nil %>
          <li>
            <a href="/seeker_sign_in">
              Sign in
            </a>
          </li>

          <li>
            <a href="/seeker_sign_up">
              Sign up
            </a>
          </li>
        
        <% else %>
        
          <li>
            <a href="/seeker_sign_out">
              Sign out
            </a>
          </li>

          <li>
            <a href="/bids">
              My bids
            </a>
          </li>

        <% end %>
        
          <li>
            <a href="/">
              Home
            </a>
          </li>

      </ul>
    </nav>

    <p style=" color: green"> <%= notice %> </p>
    <p style=" color: red"> <%= alert %> </p>

    <%= yield %>
  </body>
</html>
