<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

    <nav>
      
      <% if @current_seeker != nil %>
        <p> Bid points remaining: <%= @current_seeker.bid_points %> </p>
      <% end %>
      
      <ul>

        <% if @current_company == nil %>

          <% if @current_seeker == nil %>
            <li>
              <a href="/seeker_sign_in">
                Job Seeker Sign in
              </a>
            </li>

            <li>
              <a href="/seeker_sign_up">
                Job Seeker Sign up
              </a>
            </li>
          
          <% else %>
          
            <li>
              <a href="/seeker_sign_out">
              <%= @current_seeker.first_name.capitalize + " " + @current_seeker.last_name.capitalize %> Sign out
              </a>
            </li>

            <li>
              <a href="/jobs">
                My jobs
              </a>
            </li>

            <li>
              <a href="/bids">
                My bids
              </a>
            </li>

          <% end %>

        <% end %>
        
        <% if @current_seeker == nil %>

          <% if @current_company == nil %>
            <li>
              <a href="/company_sign_in">
                Company Sign in
              </a>
            </li>

            <li>
              <a href="/company_sign_up">
                Company Sign up
              </a>
            </li>
        
          <% else %>

            <li>
              <a href="/company_sign_out">
                Company Sign out
              </a>
            </li>

            <li>
              <a href="/jobs">
                My jobs
              </a>
            </li>

          <% end %>
        <% end %>


        <li>
          <a href="/">
            Home
          </a>
        </li>

      </ul>
    </nav>

    <p style=" color: green"> <%= notice %> </p>
    <p style=" color: red"> <%= alert %> </p>

    <%= yield %>
  </body>
</html>
